<?xml version="1.0" encoding="UTF-8" standalone="no"?><utility><scheduler><scheduled/><hours/><scheduledBackupPath/></scheduler><ServerName>{{jamf_db_server}}</ServerName><ServerPort>{{jamf_db_port}}</ServerPort><DataBaseName>{{jamf_db}}</DataBaseName><DataBaseUser>{{jamf_db_user}}</DataBaseUser><DataBasePassword>{{jamf_db_pass}}</DataBasePassword></utility>